version: '3.8'

services:
  backend:
    build: .
    container_name: csea_backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - .:/csea_backend
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo:latest
    container_name: csea_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data: